#root > nav {
  padding: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 1px 2px 0px
    rgba(2.9999999999999982, 12.000000000000027, 37, 0.16);

  .mobile-dropdown-btn {
    display: none;
  }

  .navigation {
    a {
      text-decoration: none;
      color: #041c5e;
      margin-right: 40px;

      &:hover,
      &:focus {
        color: #3a6fff;
      }
    }
  }

  .book-btn {
    height: 100%;
    font-weight: 500;
    border: none;
    background-color: #ff3c6c;
    font-size: 16px;
    padding: 18px 37px 18px 37px;
    transition: all 0.4s ease;

    a {
      color: white;
      text-decoration: none;
    }

    &:hover {
      background-color: #406cfc;
    }
  }
}

@media only screen and (max-width: 992px) {
  #root > nav {
    .mobile-dropdown-btn {
      display: block;
      font-size: 30px;
      color: #041c5e;
    }

    .book-btn {
      text-indent: -9999px;
      background-image: url(/public/medical_logo.svg);
      white-space: nowrap;
      background-color: white;
      width: 200px;
      background-repeat: no-repeat;
      background-position: center;
    }
    div > button.navbar-toggler.collapsed {
      display: none;
    }
  }
}
